
.set{
    margin:12% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; // if screenn is small, wrap the elements to the next line
}

.drum{
    height: 115px;
    width:115px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid #333;
    border: 10px solid #404b69;
   cursor: pointer;
   font-size: 4rem;
   border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
   font-weight: 900;
   text-shadow: 3px 0 #dbedf3;
   color: #da0463;
   background-color: gray;

}
.w{
    background-image: url(Images/m1.jfif);
    background-position: -100px;
}
.a{
    background-image: url(Images/m2.jfif);
    background-position: -100px;
}
.s{
    background-image: url(Images/m3.jfif);
}
.d{
    background-image: url(Images/m4.jfif);
    background-position: -50px;
}
.j{
    background-image: url(Images/m5.jfif);
}
.k{
    background-image: url(Images/m6.jfif);
}
.l{
    background-image: url(Images/m4.jfif);
    background-position: -100px;
}
.drum:hover{
    color: blue;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.selected{
  opacity: 0.5;
}